# Stellar network
VITE_STELLAR_NETWORK=testnet
VITE_STELLAR_RPC_URL=https://soroban-testnet.stellar.org
VITE_STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
VITE_HORIZON_URL=https://horizon-testnet.stellar.org

# Deployed contract IDs (rellenar tras deploy)
VITE_AUCTION_CONTRACT_ID=
VITE_TOKEN_CONTRACT_ID=
VITE_ASP_CONTRACT_ID=
VITE_VERIFIER_CONTRACT_ID=
